<p class="reply"><%=  params[:answer] %></p>
<p class="author">- You</p>

<p class="reply"><%= @coach_reply %></p>
<p class="author">- The Coach</p>

<p><%= link_to "ask another question", ask_path %></p>
