// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reply {
  background-color: rgba(211, 211, 211, 0.65);
  font-style: italic;
}
.author {
  font-weight: bold;
}
